header {
	text-align: center;
	background-image: url("https://placeimg.com/1920/400/arch/grayscale")
}
h1{
	background-color: #999999;
	letter-spacing: 6px;
}
h2{
	background-color: #999999;
	letter-spacing: 6px;
}
h3{
	background-color: #999999;
	letter-spacing: 6px;
}
.header-img {
	
}
.section1 {
	display: block;
	background: #f5f5f5;
}
.section2 {
	display: block;
	background: #f5f5f5;
}
.section3 {
	display: block;
	background: #f5f5f5;
}#timeTicker{
	font-family: impact;
	text-align: center;
	display: block;
	background-color: black;
	color: yellow;
	font-size: 26px;
}
#linkedIn{
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
}
