body{
	text-align: center;
	background: black;
}
header {
	text-align: center;
	background-image: url("img/code_banner.png");
}

h1{
	background-color: #999999;
	letter-spacing: 6px;
}
h2{
	background-color: #999999;
	letter-spacing: 6px;
}
h3{
	background-color: #999999;
	letter-spacing: 6px;
}
header h1{
	margin-left: auto;
	margin-right: auto;
	height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
    border-radius: 10px;
	background-color: black;
	color: white;
}
header h2{
	margin-left: auto;
	margin-right: auto;
	height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
    border-radius: 10px;
	background-color: black;
	color: white;
}
.nav {	
	width: 100%;
	background: black;
	min-height: 30px;
	padding: 10px;
	position: fixed;
	text-align: center;
}
.nav .name{
	text-align: left;
}
#foot{
	text-align: center;
	background-image: url("img/code_banner.png");
}
.infoBox {
	height: 400px;
	margin: 30px;
	padding: 20px;
	width: auto;
	max-width: 500px;
	text-align: left;
	border-radius: 10px;
	background: #f5f5f5;
}
#clockBottom{
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-family: impact;
	text-align: center;
	max-width: 180px;
	background-color: black;
	color: yellow;
	font-size: 26px;
}
#clockTop{
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-family: impact;
	text-align: center;
	max-width: 180px;
	background-color: black;
	color: yellow;
	font-size: 26px;
}
.linkButton{
	border: 2px solid white;
	border-radius: 50%;
	height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
}
.linkButton:hover{

	transform: scale(1.5);
}
#picOfMe {
	width: auto;
	max-width: 150px;
	border-radius: 50%;
	border: 5px solid black;
}
#picOfMe:hover {
	transform: scale(2);
}