header {
	background-image: url("https://placeimg.com/1920/400/arch/grayscale")
}
h1{
	letter-spacing: 6px;
}
h2{
	letter-spacing: 6px;
}
h3{
	letter-spacing: 6px;
}
.header-img {
	
}
.section1 {
	display: block;
	background: #f5f5f5;
}
.section2 {
	display: block;
	background: #f5f5f5;
}
.section3 {
	display: block;
	background: #f5f5f5;
}