.wrapper-outer{
	width: 100%;
	margin: 0 auto;
}
.wrapper-inner{
	max-width: 95%;
	min-width: 400px;
	border-radius: 20px;
	margin: 0 auto;
}
.infoBox {
	border: solid $color-border-light 2px;
	max-width: 25%;
	min-width: 400px;
	vertical-align: top;
	display: inline;
	height: 900px;
	margin: 20px;
	margin-right: -4px;
	padding: 20px;
	text-align: left;
	background: #c4c4c4;
}
