button{
	font-size: 18px;
	border:none;
	margin-bottom: 0;
	width:250px;
	background-color: black;
	color: white;
	padding: 0px;
	border-radius: 10px;
}
#adressBTN{
	border-bottom: solid black 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#adressBTN:hover{
	border-bottom:solid blue 3px;
}
#hideAdress{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
#hideAdress:hover{
	border-top:solid blue 3px;
}