.linkButton{
	transition: all .5s;
	border: 2px solid white;
	border-radius: 50%;
	height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}
.linkButton:hover{
	transform: scale(1.25) rotate(5deg);
}