#clockTop{
	border: solid $color-border-light 2px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-family: impact;
	text-align: center;
	max-width: 180px;
	background-color: $black;
	color: white;
	font-size: 26px;
}
#clockBottom{
	border: solid $color-border-light 2px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-family: impact;
	text-align: center;
	max-width: 180px;
	background-color: $black;
	color: white;
	font-size: 26px;
}
#adress{
	border-left: solid $color-border-light 2px;
	border-right: solid $color-border-light 2px;
	float:top;
	border-radius: 0px;
	width:245px;
	padding:5px;
	display: block;
	margin: 0 auto;
	background: #999999;
	font-size: 18px;
}

