*{
	box-sizing: border-box;
}
body{
	height:100%;
	background-color: #add8e6;
	text-align: center;
}
h1, h2, h3{
	border-radius: 10px;
	text-align: center;
	margin: 0;
	background-color: #999999;
	letter-spacing: 6px;
}
